@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --greyishBlue: hsl(233, 8%, 62%);
  --lightGreyishBlue: hsl(220, 16%, 96%);
  --veryLightGrey: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  background-color: var(--white);
  z-index: 10;
}

.nav {
  height: 23px;
}

.nav__toggle {
  border: none;
  background: none;
}

.nav__toggle-icon {
  display: block;
}

.nav__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: calc(100% - 2.8rem);
  padding: 0.7rem 0;
  margin: 1.4rem auto;
  border-radius: 5px;
  background-color: var(--white);
  text-align: center;
  list-style: none;
}

.nav__list--open {
  display: block;
}

.nav__link {
  display: block;
  margin: 1.45rem 0;
  color: var(--darkBlue);
  text-decoration: none;
}

.hero__background {
  position: relative;
  height: 97vw;
  margin-top: -15.2vw;
  background-image: url("images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.hero__background::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url("images/image-mockups.png");
  background-size: calc(100% - 1.4rem);
  background-repeat: no-repeat;
  background-position: center bottom;
}
